{% extends 'pybug/ticket_list.html' %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% block ticket_detail %}
<div class="col-md-10">
    <div class="media content-section">
        <div class="media-body">
            <div class="article-metadata mb-3">
                <small class="text-muted">{{ display_ticket.date_reported|date:"F d, Y" }}</small>
                <div class="dropdown">
                    <svg onclick="actionMenu()" class="dropbtn" width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                        <g fill="currentColor" fill-rule="evenodd">
                            <circle cx="5" cy="12" r="2"></circle>
                            <circle cx="12" cy="12" r="2"></circle>
                            <circle cx="19" cy="12" r="2"></circle>
                        </g>
                    </svg>
                    <div id="actionMenu" class="dropdown-content">
                        <a href="{% url 'ticket-update' display_ticket.id %}">Update</a>
                        {% if display_ticket.reporter == user %}
                            <a href="{% url 'ticket-delete' display_ticket.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div> 
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-9">
                        {{ form.title|as_crispy_field }}
                        <div class="col-md-12">
                            <div class="panel-heading mb-2">Description</div>
                            {{ form.description|as_crispy_field }}
                        </div>                                
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <br>
                            {% if display_ticket.reporter.username %}
                                {{ form.reporter|as_crispy_field }}
                            {% else %}
                                {{ form.reporter|as_crispy_field }}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <br>
                            {% if display_ticket.assignee.username %}
                                {{ form.assignee|as_crispy_field }}
                            {% else %}
                                {{ form.assignee|as_crispy_field }}
                            {% endif %}
                        </div> 
                        <div class="mb-3">
                            <br>
                            {{ form.priority|as_crispy_field }}
                        </div> 
                    </div>
                </div>
            </form>
            <div class="row">                                
                <div class="col-md-9">
                    <br><hr>
                    <div class="row main-comment-section">
                        <div class="col-md-12 col-sm-12">
                            <div class="comment-wrapper">
                                <div class="panel panel-info">
                                    <div class="panel-heading mb-2">Comments</div><br>
                                    <div class="panel-body">
                                        <ul class="media-list">                            
                                        {% for comment in comments %}
                                            <li class="media">
                                                <div class="media pull-left">
                                                    <img class="rounded-circle account-img" src="{{ comment.user.profile.image.url }}">
                                                </div>
                                                <div class="media-body">
                                                    <strong class="text-success">{{ comment.user.get_full_name }}</strong>
                                                    <span class="text-muted pull-right">
                                                        <small class="text-muted">{{ comment.get_human_time }}</small>
                                                    </span>
                                                    <p>{{ comment.content }}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>                                     
                    <form method="POST">
                        {% csrf_token %}
                        {{ comment_form.comment_content|as_crispy_field }}
                        <br><input type="submit" name="action" value="Post" class="btn btn-info pull-right">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock ticket_detail %}