{% extends 'pybug/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% if not display_ticket %}
            <div class="col-md-12 mb-3">
                <h2>{{ project.name }}</h2>
            </div>
            <div class="col-md-12">
                <center>
                    <div>No tickets associated with this project</div>
                    <a class="btn btn-primary mt-3" href="{% url 'ticket-create' %}?project={{ project.id }}" role="button">New Ticket</a>   
                </center>                        
            </div>
        {% else %}
            <div class="col-md-12 mb-3">
                <span style="float:left;">
                    <h2>{{ project.name }}</h2>
                </span>
                <span style="float:right;">
                    <a type="button" class="btn btn-primary" href="{% url 'ticket-create' %}?project={{ project.id }}" role="button">New Ticket</a>
                </span>
            </div>
            <div class="col-md-2">
                <div class="content-section">
                    <h3>Issues</h3>
                    <ol class="list-group">
                        {% for ticket in tickets %}                        
                            <li class="media content-section ticket-link">
                                <a class="media-body" href="{% url 'project-detail' ticket.project.key ticket.id %}?page={{ page_obj.number }}">
                                    <div class="ticket-title">{{ ticket.title }}</div>
                                    <div class="ml-2">
                                        <small class="text-muted">{{ ticket.date_reported|date:"F d, Y" }}</small>
                                    </div>
                                </a>
                            </li>                        
                        {% endfor %}
                    </ol>

                    {% if is_paginated %}

                        {% if page_obj.has_previous %}
                            <a class="btn-sm btn-outline-info mb-4" href="?page=1">First</a>
                            ...
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a class="btn-sm btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                                <a class="btn-sm btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            ...
                            <a class="btn-sm btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        {% endif %}
                    
                    {% endif %}
                </div>
            </div>
            {% block ticket_detail %}{% endblock %}
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'pybug/scripts.js' %}"></script>
{% endblock content %}
